@model PasteBook_v1.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("successLabel", null, new { @id = "successLabel" })
<fieldset>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.UserName) </td>
            <td>@Html.TextBox("userName", null, new { @id = "userName" })</td>
            <td>@Html.ValidationMessage("userNameLabel", null, new { @id = "userNameLabel" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password) </td>
            <td>@Html.TextBox("userPassword", null, new { @id = "userPassword", @type = "password"})</td>
            <td>@Html.ValidationMessage("userPasswordLabel", null, new { @id = "userPasswordLabel" })</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#" id="loginUser" > Login</a> </td>
        </tr>
    </table>

</fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 
   
   
}