@model PasteBookEF.USER
@{
    ViewBag.Title = "Create an account";
}

<form>
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.USER_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("newUserName",null,new { @id = "newUserName",@class = "form-control"})
                @Html.ValidationMessage("userNameLabel", null, new { @id = "userNameLabel" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("newPassword", null, new { @id = "newPassword", @class = "form-control" })
                    @Html.ValidationMessage("passwordLabel", null, new { @id = "passwordLabel" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FIRST_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("newFirstName", null, new { @id = "newFirstName", @class = "form-control" })
                    @Html.ValidationMessage("firstNameLabel", null, new { @id = "firstNameLabel" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LAST_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("newLastName", null, new { @id = "newLastName", @class = "form-control" })
                    @Html.ValidationMessage("lastNameLabel", null, new { @id = "lastNameLabel" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.BIRTHDATE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("year", new List<SelectListItem>(ViewBag.Year), new { @id = "year" , @class = "form-control"})
                    @Html.DropDownList("month", new List<SelectListItem>(ViewBag.Month), new { @id = "month", @class = "form-control" })
                    @Html.DropDownList("day", new List<SelectListItem>(ViewBag.Day), new { @id = "day", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MOBILE_NO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("newMobileNum", null, new { @id = "newMobileNum", @class = "form-control" })
                    @Html.ValidationMessage("mobileNumLabel", null, new { @id = "mobileNumLabel" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.GENDER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("newGender", new SelectList(new List<Object> {
                            new { value = "Male", text = "Male"},
                            new { value = "Female", text = "Female"}
                        },"value", "text",2),
                   new { @id = "year", @class = "form-control" })
                    @Html.ValidationMessage("genderLabel", null, new { @id = "genderLabel" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.EMAIL_ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("newEmailAdd", null, new { @id = "newEmailAdd", @class = "form-control" })
                    @Html.ValidationMessage("emailAddLabel", null, new { @id = "emailAddLabel" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                   <a href="#" class="Register">Create</a>
                </div>
            </div>

    }
</form>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
       
    <script src="@Url.Content("~/Scripts/AccountScripts/Register.js")"></script>

    
}
